@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<section class="f-section f-white f-border-top  f-bottom-100">
    <h1 class="headline">
        <span>Responsive Accordion</span>
    </h1>

    <div class="f-content container">
        <div class="row">
            <div class="col-md-12">
                <div id="Div17" data-role="z-accordion" data-options="{&quot;theme&quot;: &quot;black&quot;,&quot;orientation&quot;: &quot;horizontal&quot;, &quot;bordered&quot;:true, &quot;shadows&quot;: true, &quot;rounded&quot;: false, &quot;width&quot;: 1170, &quot;sectionSpacing&quot;: 4, &quot;headerSize&quot;: 48,&quot;animation&quot;: {&quot;duration&quot;: 400, &quot;easing&quot;: &quot;easeInOutQuart&quot;}, &quot;responsive&quot;: true}" role="tablist" class="z-accordion horizontal black transition z-grouped z-bordered z-shadows" style="width: 1167px; height: 319px; display: block;">
                    <section class="z-section z-first z-active" aria-hidden="false" aria-expanded="true" aria-selected="true" style="left: 0px; width: 962.918px;">
                        <h3 class="z-header" tabindex="-1" accesskey="w" aria-controls="Div17-1" role="tab" style="outline: none; height: 48.9179px; line-height: 47.9179px; width: 319px; font-size: 1.49744em;"><span class="z-title" style="height: 49.9179px; line-height: 47.9179px;">Overview</span><span class="z-arrow" style="top:none"></span></h3>
                        <div class="z-content" id="Div17-1" role="tabpanel" aria-hidden="false" aria-expanded="true" style="left: 50.9179px; width: auto;">
                            <div class="z-auto-g">
                                <p><strong>Slick Design</strong> and Limitless Customization</p>
                            </div>
                        </div>
                    </section>
                    <section class="z-section" aria-hidden="true" aria-expanded="false" aria-selected="false" style="left: 963.911px; width: 962.918px;">
                        <h3 class="z-header" aria-controls="Div17-2" role="tab" tabindex="-1" style="outline: none; height: 48.9179px; line-height: 47.9179px; width: 319px; font-size: 1.49744em;"><span class="z-title" style="height: 49.9179px; line-height: 47.9179px;">Some of it's key features</span><span class="z-arrow" style="top:none"></span></h3>
                        <div class="z-content" id="Div17-2" role="tabpanel" aria-hidden="true" aria-expanded="false" style="left: 50.9179px; width: auto;">
                            <div class="z-auto-g">
                                <ul class="icons">
                                    <li><i class="icon-ok"></i>10 unique skins </li>
                                    <li><i class="icon-ok"></i>Responsive &amp; touch-friendly </li>
                                    <li><i class="icon-ok"></i>Horizontal &amp; vertical accordion </li>
                                    <li><i class="icon-ok"></i>Semantic HTML5 &amp; SEO friendly </li>
                                    <li><i class="icon-ok"></i>Nested &amp; multiple instances </li>
                                    <li><i class="icon-ok"></i>Keyboard navigation &amp; WAI-ARIA support </li>
                                    <li><i class="icon-ok"></i>Free updates &amp; support </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="z-section" aria-hidden="true" aria-expanded="false" aria-selected="false" style="left: 1014.82px; width: 962.918px;">
                        <h3 class="z-header" aria-controls="Div17-3" role="tab" tabindex="-1" style="outline: none; height: 48.9179px; line-height: 47.9179px; width: 319px; font-size: 1.49744em;"><span class="z-title" style="height: 49.9179px; line-height: 47.9179px;">Documentation</span><span class="z-arrow" style="top:none"></span></h3>
                        <div class="z-content" id="Div17-3" role="tabpanel" aria-hidden="true" aria-expanded="false" style="left: 50.9179px; width: auto;">
                            <div class="z-auto-g">
                                <p>Fully documented and step-by-step guide provided to help you get up and running with Zozo Accordion.</p>
                                <p>Documentation can be found on <a href="http://docs.zozoui.com/accordion">docs.zozoui.com/accordion</a>. </p>
                            </div>
                        </div>
                    </section>
                    <section class="z-section" aria-hidden="true" aria-expanded="false" aria-selected="false" style="left: 1065.73px; width: 962.918px;">
                        <h3 class="z-header" aria-controls="Div17-4" role="tab" tabindex="-1" style="outline: none; height: 48.9179px; line-height: 47.9179px; width: 319px; font-size: 1.49744em;"><span class="z-title" style="height: 49.9179px; line-height: 47.9179px;">10 Preset themes</span><span class="z-arrow" style="top:none"></span></h3>
                        <div class="z-content" id="Div17-4" role="tabpanel" aria-hidden="true" aria-expanded="false" style="left: 50.9179px; width: auto;">
                            <div class="z-auto-g">
                                <ul class="icons">
                                    <li><i class="icon-ok"></i>white</li>
                                    <li><i class="icon-ok"></i>crystal</li>
                                    <li><i class="icon-ok"></i>silver</li>
                                    <li><i class="icon-ok"></i>gray</li>
                                    <li><i class="icon-ok"></i>black</li>
                                    <li><i class="icon-ok"></i>orange</li>
                                    <li><i class="icon-ok"></i>red</li>
                                    <li><i class="icon-ok"></i>green</li>
                                    <li><i class="icon-ok"></i>blue</li>
                                    <li><i class="icon-ok"></i>deepblue</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="z-section z-last" aria-hidden="true" aria-expanded="false" aria-selected="false" style="left: 1116.64px; width: 962.918px;">
                        <h3 class="z-header" aria-controls="Div17-5" role="tab" tabindex="-1" style="outline: none; height: 48.9179px; line-height: 47.9179px; width: 319px; font-size: 1.49744em;"><span class="z-title" style="height: 49.9179px; line-height: 47.9179px;">Purchase</span><span class="z-arrow" style="top:none"></span></h3>
                        <div class="z-content" id="Div17-5" role="tabpanel" aria-hidden="true" aria-expanded="false" style="left: 50.9179px; width: auto;">
                            <div class="z-auto-g">
                                <p><a href="http://codecanyon.net/item/zozo-accordion-responsive-and-touchfriendly/3745464?ref=FariDesign">Get Zozo Accordion from CodeCanyon.net</a></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="notice blue" style="margin: 40px 0;">
                    <p><strong>Note: </strong>Access this demo throuh your mobile device (scan the qr code below) or resize your browser to see it.</p>
                </div>
                <div class="row visible-lg">
                    <div class="col-md-4 offset4">
                        <div>
                            <a href="http://goqr.me/" style="border: 0 none; cursor: default; text-decoration: none;">
                                <img src="http://api.qrserver.com/v1/create-qr-code/?data=http%3A%2F%2Fzozoui.com%2Faccordion%2Fresponsive%2F&amp;size=250x250&amp;prov=goqrme" alt="Create QR Code" title="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="basic" style="height: 80px;">
    </div>
</section>
